.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animals {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}